body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-image: url(/images/background.png);
    background-size: cover;
}
footer {
    margin-top: 10%;
    clear: both;
    text-align: center;
}
#boekButton {
    clear: both;
    text-align: center;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
.images {
    border-radius: 15px;
    border: 1px solid;
}
#largeImage {
    border-radius: 15px;
    border: 2px solid;
}
#site-nav {
    border-bottom: 1px dashed;
    display: table;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}
#site-nav a {
    display: table-cell;
    text-align: center;
}