body {
    background-color: #0aa;
    font-size: 15px;
}

p {
    text-align: center;
    font-size: 2em;
}

nav {
    text-align: center;
}

#site-nav {
    display:table-cell;
    text-align:center;
}
