body {
    background-image: url('Background.png');
    background-size: 100%;
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    align-self: center;
}

p {
}

nav {
    text-align: center;
}

#site-nav {
    display:table;
    table-layout:fixed;
    width:100%;
}

#site-nav a {
    display: table-cell;
    text-align: center;
}