body {
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    align-self: center;
    max-width: 1000px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
}

#site-nav {
    display:table;
    table-layout:fixed;
    width:100%;
}

#site-nav a {
    display: table-cell;
    text-align: center;
    font-weight: bold;
}

a:link {
    color:#000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logo {
    max-width: 3em;
    max-height: 3em;
    vertical-align: middle;
}
